<div class="tools-wrapper">
  <p>
    Mode:
    <mat-button-toggle-group (change)="toolChanged($event.value)" value="{{tools.Rectangle}}">
      <mat-button-toggle value="{{ tools.Rectangle }}"><img class="icon" src="assets/icons/rectangle.svg"></mat-button-toggle>
      <mat-button-toggle value="{{ tools.Ellipse }}"><img class="icon" src="assets/icons/ellipse.svg"></mat-button-toggle>
      <mat-button-toggle value="{{ tools.FillColor }}"><img class="icon" src="assets/icons/fill-color.svg"></mat-button-toggle>
    </mat-button-toggle-group>
  </p>
  <p>
    Color:
    <mat-button-toggle-group (change)="colorChanged($event.value)" value="{{ colors.Black }}">
      <mat-button-toggle value="{{ colors.Black }}">Black</mat-button-toggle>
      <mat-button-toggle value="{{ colors.Red }}">Red</mat-button-toggle>
    </mat-button-toggle-group>
  </p>
</div>
