.tools-wrapper {
  margin-bottom: 10px;
}

.icon {
  width: 20px;
}

.svg-color {
  border: 1px solid black;
}

p {
  margin-bottom: 3px;
  margin-top: 12px;
}

.line {
  display: block;
}

.inline-block {
  display: inline-block;
  margin-right: 15px;
}
