<div class="tools-wrapper">
  <div class="line">
    <div class="inline-block">
      <p>Instruments:</p>
      <mat-button-toggle-group (change)="toolChanged($event.value)" value="{{settingsService.tool}}">
        <mat-button-toggle value="{{ tools.Rectangle }}"><img class="icon" src="assets/icons/rectangle.svg">
        </mat-button-toggle>
        <mat-button-toggle value="{{ tools.Ellipse }}"><img class="icon" src="assets/icons/ellipse.svg">
        </mat-button-toggle>
        <mat-button-toggle value="{{ tools.Pen }}"><img class="icon" src="assets/icons/signature.svg">
        </mat-button-toggle>
        <mat-button-toggle value="{{ tools.Spiral }}"><img class="icon" src="assets/icons/triskele.svg">
        </mat-button-toggle>
        <mat-button-toggle value="{{ tools.PenDoubleHorizontal }}"><img class="icon" src="assets/icons/menu-bar.svg">
        </mat-button-toggle>
        <mat-button-toggle value="{{ tools.PenDoubleVertical }}"><img class="icon" src="assets/icons/vertical-lines.svg">
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="inline-block" *ngIf="showFillModes()">
      <p>Fill mode:</p>
      <mat-button-toggle-group (change)="fillModeChanged($event.value)" value="{{settingsService.fillMode}}">
        <mat-button-toggle value="{{ fillMode.Filled }}"><img class="icon" src="assets/icons/fill.svg">
        </mat-button-toggle>
        <mat-button-toggle value="{{ fillMode.BorderOnly }}"><img class="icon" src="assets/icons/square.svg">
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="inline-block" *ngIf="showLineWidth()">
      <p>Line width:</p>
      <mat-button-toggle-group (change)="lineWidthChanged($event.value)" value="{{settingsService.lineWidth}}">
        <mat-button-toggle value="1">
          <svg width="20" height="20" class="svg-color"
               viewBox="0 0 20 20"
               xmlns="http://www.w3.org/2000/svg">
            <rect x="2" y="9" width="16" height="1"/>
          </svg>
        </mat-button-toggle>
        <mat-button-toggle value="2">
          <svg width="20" height="20" class="svg-color"
               viewBox="0 0 20 20"
               xmlns="http://www.w3.org/2000/svg">
            <rect x="2" y="9" width="16" height="2"/>
          </svg>
        </mat-button-toggle>
        <mat-button-toggle value="3">
          <svg width="20" height="20" class="svg-color"
               viewBox="0 0 20 20"
               xmlns="http://www.w3.org/2000/svg">
            <rect x="2" y="8" width="16" height="3"/>
          </svg>
        </mat-button-toggle>
        <mat-button-toggle value="4">
          <svg width="20" height="20" class="svg-color"
               viewBox="0 0 20 20"
               xmlns="http://www.w3.org/2000/svg">
            <rect x="2" y="8" width="16" height="4"/>
          </svg>
        </mat-button-toggle>
        <mat-button-toggle value="5">
          <svg width="20" height="20" class="svg-color"
               viewBox="0 0 20 20"
               xmlns="http://www.w3.org/2000/svg">
            <rect x="2" y="7" width="16" height="5"/>
          </svg>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="inline-block option-list-wrapper" *ngIf="showLineCount()">
      <p>Line count:</p>
      <mat-form-field appearance="fill">
        <mat-label>How many lines to draw?</mat-label>
        <mat-select [(value)]="settingsService.linesToDraw">
          <mat-option value="2">2</mat-option>
          <mat-option value="3">3</mat-option>
          <mat-option value="4">4</mat-option>
          <mat-option value="5">5</mat-option>
          <mat-option value="6">6</mat-option>
          <mat-option value="7">7</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="inline-block">
      <p>Clear All:</p>
      <button mat-raised-button class="single-button" (click)="clearCanvas()">
        <img class="icon" src="assets/icons/broom.svg"></button>
    </div>
  </div>
  <div class="line">
    <p>Color:</p>
    <mat-button-toggle-group (change)="colorChanged($event.value)" value="{{settingsService.color}}">
      <mat-button-toggle value="{{ color }}" *ngFor="let color of colors">
        <svg attr.fill="{{ color }}" width="20" height="20" class="svg-color"
             viewBox="0 0 20 20"
             xmlns="http://www.w3.org/2000/svg">
          <rect x="0" y="0" width="20" height="20"/>
        </svg>
      </mat-button-toggle>
    </mat-button-toggle-group>
<!--    <mat-form-field>
      <input matInput [ngxMatColorPicker]="picker" [formControl]="colorCtr">
      <ngx-mat-color-toggle matSuffix [for]="picker"></ngx-mat-color-toggle>
      <ngx-mat-color-picker #picker></ngx-mat-color-picker>
    </mat-form-field>-->
  </div>
</div>
